h3{
        text-align: center;
        padding-top: 10px;
    }
.input-group-addon{
    text-align: left;
}

.form{
        width: 400px;
        height: 400px;
        margin: 0 auto;
    }

form.form > div{
        padding: 8px;
    }